/backend/node_modules
/backend/upload/cintillo/*.jpg
/backend/upload/cintillo/*.png
/backend/upload/cintillo/*.jpeg
/backend/upload/reporte/*.pdf
/frontend/node_modules
/frontend/src/ipServer.js
/backend/modelo/driver_postgresql.js
