/*
.contenedor-barra-de-busqueda{
    background-color: yellow;
}
*/
.component-barra-de-busqueda{
    margin-bottom: 20px;
}

.columna-barra{
    /*background-color: black;*/
    padding-right:0;
    margin-left: 0;
}

.barraDeBusqueda{
    border-radius: 5px 0px 0px 5px;
}

.boton_buscar{
    border-radius: 0px 5px 5px 0px;
}

.columna-boton-buscar{
    /*background-color: black;*/
    padding-left:0;
    margin-right: 0;
}