:root{
    --color_fondo_barrar_estado:rgb(98, 135, 190);
}

.contenedor_barra_estado{
    background-color: var(--color_fondo_barrar_estado);
    height: 10%;
}

.nombre-usuario{
    color: white;
    font-size: 1.3rem;
}

.contenedor-foto-avatar{
    height: 100%;
}

.imagen-avatar{
    width: 100%;
    height: 100%;
}

.boton-cabecera{
    cursor: pointer;
    font-size: 1.3rem;
}