:root{
    --color-fondo-formulario:#fff;
    --color-fondo-modal:rgba(39, 39, 39, 0.986);
}

.contenedor_formulario_cintillo{
    background-color: var(--color-fondo-formulario);
    height: auto;
    border-radius: 15px;
    padding-bottom: 30px;
}

.component_cintillo_formulario{
    height: 100%;
}

.contenedor-titulo-form-cintillo{
    border-bottom: 1px solid #111;
    margin-bottom: 15px;
}

.titulo-form-cintillo{
    font-size: 2.5rem; 
}

.margin-left-icon-2{
    margin-left: 2px;
}

.contenedor-formulario-cintillo{
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    width: 60vw;
    height: 520px;
    background-color:  var(--color-fondo-modal);
    transform: translateY(calc(-100% - 100%)) translateX(18%);
    transition: transform 1s ;
    left: 0;
    border-radius: 10px;
    padding-top: 60px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.contenedor-formulario-cintillo-mostrar{
    transform: translateY(-17%) translateX(18%);
}

.icon-x{
    position: absolute;
    color:#fff;
    transform:scale(1);
    transition: color 1s,
                transform 1s;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.icon-x > svg {
    width: 50px;
    height: 50px;
}

.icon-x:hover{
    color: rgb(226, 43, 43);
    transform:scale(1.2);
}

.icono-cloud-upload{
    color:#fff;
}
.icono-cloud-upload > svg{
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.titulo-modal-formulario{
    text-align: center;
    color:#fff;
}

.label-input-nombre-archivo{
    color: #fff;
}

.span-mensaje{
    display: block;
}

.alerta_formulario_cintillo{
    position: absolute;
    top: 45px;
    left: 25%;
}

.galeria-cintillo{
    /* background-color:grey; */
    width: 100%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    overflow-x: hidden;
    padding: 5px;
}

.galeria-cintillo > .contenedor-imagen:nth-child(5){
    margin-right: 0px;
}

.contenedor-imagen{
    display: inline-block;
    background-color:aqua;
    width: 210px;
    height: 210px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    overflow:hidden;
    border-radius: 10px;
}

.imagen-cintillo{
    width: 100%;
    height: 100%;
    background-color:#fff ;
}

.hover-imagen{
    width: 100%;
    height: 100%;
    background-color:rgba(17, 17, 17, 0.836) ;
    position: absolute;
    top: 0;
    transform:translateY(100%);
    transition: transform .5s;
    padding-top: 40%;
}

.contenedor-imagen:hover .hover-imagen{
    transform:translateY(0%);
}

.nombre-archivo{
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.formulario-ver-info-cintillo{
    box-sizing: border-box;
    position: absolute;
    z-index: 11;
    width: 87vw;
    height: 530px;
    background-color: var(--color-fondo-modal);
    transform: translateY(calc(-100% - 100%)) translateX(-2.5%);
    transition: transform 1s ;
    overflow: hidden;
    left: 0;
    border-radius: 10px;
}

.icon-x-modal-info-foto{
    position: absolute;
    z-index: 10;
    color:#fff;
    transform:scale(1);
    transition: color 1s,
                transform 1s;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.icon-x-modal-info-foto > svg {
    width: 50px;
    height: 50px;
    background-color: var(--color-fondo-modal);
    border-radius: 50px;
    
}

.icon-x-modal-info-foto:hover{
    color: rgb(226, 43, 43);
    transform:scale(1.2);
}

.formulario-ver-info-cintillo-mostrar{
    transform: translateY(-27%) translateX(-2.5%);
}

.contendor-visor-foto-cintillo{
    float: left;
    width: 70%;
    height: 100%;
    background-color: transparent;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contendor-datos-info-cintillo{
    float: left;
    width: 30%;
    height: 100%;
    background-color: #fff;
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.propiedad-info-foto{
    font-weight: bold;
}

.visor-imagen{
    display: block;
    width: 500px;
    height: 500px;
    /* border: 1px solid #fff; */
}

.fila-icono-trash{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.alerta-de-eliminar-cintillo{
    font-weight: bold;
    padding-top: 8px;
    padding-right: 0;
    margin-right: 10px;
    display: none;
    
}

.boton-cancelar-eliminar-cintillo-ocultar{
    display: none;
}

.animar-alerta-eliminar-cintillo{
    color:#926e00;
    animation: colorLetra 1s infinite alternate;
    display: block;
}

@keyframes colorLetra{
    from{
        color:#dfa700;
    }
}

.input-file-archivo-editar{
    width: 100%;
}

.label-input-nombre-archivo-editar{
    color: #111;
}

.foto-principal{
    border: 5px solid #007bff;
}

