:root{
    --color-fondo-formulario:#fff;
}

.contenedor_lapso{
    /* background-color: var(--color-fondo-formulario); */
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.component_lapso{
    height: 100%;
}

.contenedorlapso{
    border-bottom: 1px solid #111;
    margin-bottom: 15px;
}

.titulo-modulo-lapso{
    text-align: center;
    color:#FFF;
    margin-bottom: 60px;
}

.titulo-modulo-lapso-negro{
    text-align: center;
    color:#111;
}

.contenido-lapso{
    width: 100%;
    min-height: 300px;
    height: auto;
    background-color: #FFF;
    border-radius: 10px;
}