:root{
    --color_fondo_registro_trabajador:#111;
    --color_fondo_formulario_registro_trabajador:rgba(49, 49, 49, 0.815);
    --color_texto:#fff;
}

.component_registro_trabajador{
    height: 100%;
    background-color: var(--color_fondo_registro_trabajador);
    
}

.fila_registro_trabajador{
    height: 100%;
    width: 100%;
}

.contenedor_registro_trabajador{
    height: auto;
    background-color: var(--color_fondo_formulario_registro_trabajador);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:10px;
}

.titulo_formulario{
    color:var(--color_texto);
    margin-bottom:30px;
    font-size: 2.5rem;
    text-align: center;
}

.sub_titulo_formulario{
    color:var(--color_texto);
   /* margin-bottom:30px;*/
    font-size: 1.3rem;
}

#form_registro_trabajador label{
    color:var(--color_texto);
}

.margen_bottom_10{
    margin-bottom:10px;
}