:root{
    --color-fondo-formulario:#fff;
}

.component_cam_consulta{
    height: 100%;
}

.contenedor_cam_consulta{
    background-color: var(--color-fondo-formulario);
    height: auto;
    border-radius: 15px;
    padding-bottom: 30px;
}

.contenedor-cam-consulta{
    border-bottom: 1px solid #111;
    margin-bottom: 15px;
}

.titulo-cam-consulta{
    font-size: 2.5rem; 
}
.propiedad{
    font-weight: bold;
}