:root{
    --color_fondo_dashboard_1:rgb(2, 9, 105);
    --color_fondo_dashboard_2:rgb(151, 0, 118);
}



.columna-modulo{
    background-color:var(--color_fondo_dashboard_1);
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
 }

 .contenedor-modulo{
    /*background-color: green;*/
    /*height: 600px;*/
    height: auto;
    padding-top: 30px;
}