:root{
    --color-fondo-formulario:#fff;
}

.component_estado_consulta{
    height: 100%;
}

.contenedor_estado_consulta{
    background-color: var(--color-fondo-formulario);
    height: auto;
    border-radius: 15px;
    padding-bottom: 30px;
}

.contenedor-estado-consulta{
    border-bottom: 1px solid #111;
    margin-bottom: 15px;
}

.titulo-estado-consulta{
    font-size: 2.5rem; 
}