:root{
    --color-fondo-error-404:#111;
}

.conponente_error_404{
    height: 100%;
    background-color: var(--color-fondo-error-404);
}

.contenedor_error_404{
    height: 100%;
}

.fondo{
    background-color: red;
}

.columna-error-404{
    height: 50%;
}

.fila-gif{
    height:100%;
}

.fila-boton{
    margin-top: 30px;
}

.text-404{
    color:#fff;
}

.estilos-gif{
    height: 100%;
    width: 100%;
}