.componentTabla{
    margin-bottom: 20px;
    width: 100%;
}

.contenedor_tabla{
    margin-bottom: 10px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.tabla{
    margin-bottom: 0;
}

