:root{
    --color-fondo-formulario:#fff;
}

.contenedor_formulario_solicitud_permiso{
    background-color: var(--color-fondo-formulario);
    height: auto;
    border-radius: 15px;
    padding-bottom: 30px;
}

.component_solicitud_permiso_form{
    height: 100%;
}

.contenedor-titulo-form-solicitud-permiso{
    border-bottom: 1px solid #111;
    margin-bottom: 15px;
}

.titulo-form-solicitud-permiso{
    font-size: 2.5rem; 
}

.sub-titulo-form-solicitud-permiso{
    font-size: 2.0rem; 
}

.aliniar-fecha-hasta{
    padding-top: 38px;
}