.contenedorError404{
    width: 100vw;
    height: 100vh;
    padding-top: 15vh;
}

.mensaje-error-404{
    width: 100%;
    font-size: 4.5rem;
    text-align: center;
}

.imagen404 {
    display: block;
    width: 40vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
}

.contendor-boton{
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}



.boton-regresar > svg{
    margin-right: 10px;
}