:root{
    --color-fondo-formulario:#fff;
}

.contenedor_formulario_reposo_trabajador{
    background-color: var(--color-fondo-formulario);
    height: auto;
    border-radius: 15px;
    padding-bottom: 30px;
}

.component_reposo_trabajador_formulario{
    height: 100%;
}

.contenedor-titulo-form-reposo-trabajador{
    border-bottom: 1px solid #111;
    margin-bottom: 15px;
}

.titulo-form-reposo_trabajador{
    font-size: 2.5rem; 
}