.grid-cintillo{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cintillo{
    display: block;
    width:90%;
    height: 100%;
}

.cintillo-dinamico{
    display: block;
    width:10%;
    height: 100%;
    /* background-color: aqua; */
}

.cintillo-principal{
    display: block;
    width: 100%;
    height: 100%;
}

.cintillo-dafault{
    width:10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    background-color: #111;
}

/* .cintillo-dafault > div > svg{
    
} */
.cintillo-dafault > div{
    /* width: 100%; */
    color: #fff;
    text-decoration:line-through
}

.cintillo-dafault > div > span{
    margin-left: 5px;
    
}

.contenedor_menu{
    height:50%;
}