:root{
    --color-fondo-formulario:#fff;
}

.component_tipo_trabajador_inicio{
	height: 100%;
    width: 100%;
}

.columna-boton{
	background-color: var(--color-fondo-formulario);
    border-radius: 15px;
    margin-top: 30px;
    height:60px;
}

.contenedor-boton{
    height: 100%;
}