:root{
    --color-fondo-formulario:#fff;
}

.contenedor_lapso_planificaion{
    /* background-color: var(--color-fondo-formulario); */
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.component_lapso_planificaion{
    height: 100%;
}

.contenedorlapso-planificaion{
    border-bottom: 1px solid #111;
    margin-bottom: 15px;
}

.lapso_planificaion{
    font-size: 2.5rem; 
}

.titulo-modulo-lapso-planificaion{
    text-align: center;
    color:#FFF;
    margin-bottom: 60px;
}

/* .contenedor-lapso{

} */

.lapso{
    width: 650px;
    height: 100px;
    background-color: rgb(98 135 190);
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFF;
    font-size: 1.3rem;
    border-radius: 5px;
}
