
:root{
    --color-fondo-formulario:#fff;
}

.contenedor_formulario_trabajador{
    background-color: var(--color-fondo-formulario);
    height: auto;
    border-radius: 15px;
    padding-bottom: 30px;
}

.component_trabajador_form{
    height: 100%;
}

.contenedor-titulo-form-trabajador{
    border-bottom: 1px solid #111;
    margin-bottom: 15px;
}

.titulo-form-trabajador{
    font-size: 2.5rem; 
}

table{
    text-transform: uppercase;
    /* font-weight: bold; */
}