.contenedor_asistencia{
    box-sizing: border-box;
    height: 100%;
}

.contenedor_from{
    box-sizing: border-box;
    /* border: 1px solid #111; */
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 30px;

}

.titulo_h1{
    text-align: center;
}

.formulario_asistencia{
    box-sizing: border-box;
    /* border: 1px solid #111; */
    width: 100%;
    height: 130px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.contenedor_boton_guardar_asistencia{
    box-sizing: border-box;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}