:root{
    --color_fondo_login:rgb(98, 135, 190);
    --color_fondo_formulario_login:rgb(98, 135, 190);
    --color_texto:#fff;
}

.contenedor_login{
    height: 100%;
    background-color: var(--color_fondo_login);
}

.margen_bottom_10{
    margin-bottom:10px;
}

.fila_login{
    height: 100%;
}

.contenedor_formulario_login{
    height: auto;
    background-color: var(--color_fondo_formulario_login);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:10px;
}

.titulo_formulario{
    color:var(--color_texto);
    margin-bottom:30px;
    font-size: 2.5rem;
    text-align: center;
}

#formulario_login label{
    color:var(--color_texto);
}
